.forgot {
    color: white;

    .forgot-form {
        background-color: #383a59;
        padding: 1.5rem;
        width: 40%;
        max-width: 450px;
        min-width: 350px;
        margin: 0 auto;
        margin-top: 50%;
        transform: translateY(-100%);
        border-radius: 12px;
        form {

            input {
                width: 100%;
                margin: 0.5rem 0;
            }

            a {
                text-decoration: none;
            }
        }
    }
}