<div class="forgot">
    <div class="container">
        <div class="forgot-form">
            <h3 class="text-center">Register</h3>
            <form>
                <input type="email" pInputText placeholder="Your email"/>
                <label><a routerLink="/login">Login</a></label>
                <div class="row mt-4">
                    <div class="col">
                        <button class="btn btn-success w-100" type="submit">Password recovery</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>